.app-header {
    background-color: var(--primary-1);
    color: #fff;
    padding: 0.625em;
    justify-content: space-between;
    align-items: center;
}

.app-header .header-container {
    justify-content: space-between;
    align-items: center;
}

.app-header h1 {
    margin-inline-end: 2em;
}


.app-header .app-nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 1em
}

.app-header .login-user {
    align-items: center;
}


.app-nav a:hover {
    text-decoration: underline;
    color: #555;
}

.app-header .login-user span {
    margin-right: 0.625em;
}

.app-header .login-user button {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 0.313em;
    cursor: pointer;
}

.app-header .login-user button:hover {
    background-color: #ddd;
}

.app-nav a.active {
    font-weight: bold;
    color: #555;
    text-decoration: underline;
}