.toy-preview {
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    width: 10em;
}

.edit-link,
.details-link {
    color: #1dc778;
    text-decoration: none;
    align-items: center;
}

.action-btns a:hover {
    text-decoration: underline;
}


.remove-btn {
    color: #dc3545;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.remove-btn:hover {
    color: #bd3737;
}