.edit-form {
    max-width: 25em;
    margin: 1em auto;

    div {
        margin-bottom: 0.5em;
    }

    input,
    select {
        width: 100%;
        padding: 0.5em;
    }

    .save-toy-btn {

        padding: 0.5em;
        background-color: $clr2;
        color: $clr3;
        border: none;
        border-radius: 0.2em;
    }

    .save-toy-btn:hover {
        background-color: #0056b3;
    }

    input:focus,
    select:focus {
        outline: none;
        background-color: var($clr3);
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        transition: background-color 0.3s ease-in-out,
            border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
}