
$clrSuccess: #2ecc71; 
$clrError: #e74c3c;   

.user-msg {
    background-color: $clr2;
    padding: 1.5em 2.5em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: $clr3;
    font-size: 1.1em;

    &.success {
        background-color: $clrSuccess;
    }

    &.error {
        background-color: $clrError;
        color: $clr3; 
    }

    button {
        font-size: 0.8em;
        float: right;
        margin-left: 0.5em;
        background-color: $clr3;
        color: $clr2;
        border: none;

        &:hover {
            background-color: darken($clr3, 10%); 
        }
    }
}
