* {
    box-sizing: border-box;
  }
  
  
  body {
    margin: 0;
    font-size: 1rem;
    font-family: sans-serif;
    background-color: $clr1;
  }
  
  h1,
  p {
    margin: 0;
  }
  
  button {
    cursor: pointer;
  }
  
  img {
    width: 100%;
  }

//   .img-container {

//     background-size:cover; /* Cover the entire container */
//     background-position: center; /* Center the image */
//     background-repeat: no-repeat; /* Prevent repeating the image */
//    } 

   